body{
    background-size: cover;
}
.heading{
    font-size:23px;
    width: 100%;
    margin: 0;
    font-family: 'Lily Script One', cursive;
}
#start{
    font-size:18px;

}
#no.of.objects{
    font-size:18px;
}
#status{
    font-size: 18px;
}
.copy_rightFooter{
    position: fixed;
    color: gray;
    bottom:0;
    width:100%;
    background-color:#f5f5f5;
    line-height:3;
    text-align: center;
}
canvas {
    border-radius: 20px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px white;
  }
input{
    width: 25%;
    height: 20px;
}